<div class="mb-10">
  <h5 class="!mb-0 underline">Create a new Roadmap</h5>
  <h6>
    Create a personalized roadmap to help you navigate through your learning
    journey.
  </h6>
</div>

<mat-stepper linear="true">
  <mat-step label="Getting to know your interests">
    <mat-stepper #stepper orientation="vertical">
      <mat-step label="What's your educational level?">
        <mat-radio-group class="flex-col flex">
          <mat-radio-button>High School</mat-radio-button>
          <mat-radio-button>Undergraduate</mat-radio-button>
          <mat-radio-button>Postgraduate</mat-radio-button>
        </mat-radio-group>
      </mat-step>
      <mat-step label="Which field are you interested in?">
        <mat-radio-group [(ngModel)]="field" class="flex-col flex">
          <mat-radio-button value="Computer Science"
            >Computer Science</mat-radio-button
          >
          <mat-radio-button value="Business">Business</mat-radio-button>
          <mat-radio-button value="Health">Health</mat-radio-button>
          <mat-radio-button value="Art">Art</mat-radio-button>
        </mat-radio-group>
      </mat-step>
      <mat-step label="Which topic are you interested in?">
        <mat-radio-group [(ngModel)]="topicOfInterest" class="flex-col flex">
          @for (item of topicsOfInterest[field]; track $index) {
          <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-step>
      <mat-step
        label="Pick the categories that best aligns with your interests!"
      >
        <mat-chip-grid>
          <mat-chip-option>Programming</mat-chip-option>
          <mat-chip-option>Mathematics</mat-chip-option>
          <mat-chip-option>Physics</mat-chip-option>
          <mat-chip-option>Biology</mat-chip-option>
          <mat-chip-option>Chemistry</mat-chip-option>
          <mat-chip-option>History</mat-chip-option>
          <mat-chip-option>Geography</mat-chip-option>
          <mat-chip-option>Literature</mat-chip-option>
          <mat-chip-option>Art</mat-chip-option>
          <mat-chip-option>Music</mat-chip-option>
          <mat-chip-option>Economics</mat-chip-option>
          <mat-chip-option>Philosophy</mat-chip-option>
          <mat-chip-option>Psychology</mat-chip-option>
        </mat-chip-grid>
      </mat-step>
    </mat-stepper>
    <div class="w-full justify-end gap-3 flex">
      <button mat-button (click)="stepper.previous()">Back</button>
      <button mat-flat-button (click)="stepper.next()">Next</button>
    </div>
  </mat-step>
  <mat-step label="Suggested skills"> </mat-step>
  <mat-step label="Roadmap"> </mat-step>
</mat-stepper>
