<div class="mb-10">
  <h5 class="!mb-0 underline">Create a new Roadmap</h5>
  <h6>
    Create a personalized roadmap to help you navigate through your learning
    journey.
  </h6>
</div>

<mat-stepper #mainStepper linear="true">
  <mat-step label="Getting to know your interests">
    <mat-stepper linear="true" #stepper orientation="vertical">
      <mat-step label="What's your educational level?">
        <mat-radio-group
          [(ngModel)]="this.educationLevel"
          class="flex-col flex"
        >
          <mat-radio-button value="High School">High School</mat-radio-button>
          <mat-radio-button value="Undergraduate"
            >Undergraduate</mat-radio-button
          >
          <mat-radio-button value="Postgraduate">Postgraduate</mat-radio-button>
        </mat-radio-group>
      </mat-step>
      <mat-step label="Which field are you interested in?">
        <mat-radio-group [(ngModel)]="field" class="flex-col flex">
          <mat-radio-button value="Computer Science"
            >Computer Science</mat-radio-button
          >
          <mat-radio-button value="Business">Business</mat-radio-button>
          <mat-radio-button value="Health">Health</mat-radio-button>
          <mat-radio-button value="Art">Art</mat-radio-button>
        </mat-radio-group>
      </mat-step>
      <mat-step label="Which topic are you interested in?">
        <mat-radio-group [(ngModel)]="topicOfInterest" class="flex-col flex">
          @for (item of topicsOfInterest[field]; track $index) {
          <mat-radio-button [value]="item">{{ item }}</mat-radio-button>
          }
        </mat-radio-group>
      </mat-step>
      <mat-step
        label="Pick the categories that best aligns with your interests!"
      >
        <mat-chip-listbox multiple="true" [(ngModel)]="interestedCategories">
          @for (category of getCategories(); track $index) {
          <mat-chip-option [value]="category">{{ category }}</mat-chip-option>
          }
        </mat-chip-listbox>
      </mat-step>
    </mat-stepper>
    <div class="w-full justify-end gap-3 flex">
      <button mat-button (click)="stepper.previous()">Back</button>
      <button
        mat-flat-button
        (click)="
          stepper.selectedIndex != 3 ? stepper.next() : getSkillsSuggestions()
        "
      >
        Next
      </button>
    </div>
  </mat-step>
  <mat-step label="Suggested skills">
    <div class="w-full overflow-x-auto">
      @if (!isWorking) {
      <div class="w-max flex gap-5">
        @for (skill of skills; track $index) {
        <mat-card class="w-[25rem]" appearance="outlined">
          <mat-card-header>
            <mat-card-title>{{ skill.skillName }}</mat-card-title>
            <mat-card-subtitle>{{ skill.skillDescription }}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-actions align="end">
            <button (click)="getRoadmap(skill)" mat-button>
              Explore this roadmap
            </button>
          </mat-card-actions>
        </mat-card>
        }
      </div>
      } @else {
      <h6>We're working our magic!!</h6>
      <mat-progress-spinner
        [diameter]="40"
        [mode]="'indeterminate'"
      ></mat-progress-spinner>
      }
    </div>
  </mat-step>
  <mat-step label="Roadmap"> </mat-step>
</mat-stepper>
