<mat-card class="w-96 h-full" appearance="outlined">
  <mat-card-header>
    <mat-card-title>{{ course().title }}</mat-card-title>
    <mat-card-subtitle>{{ course().description }}</mat-card-subtitle>
  </mat-card-header>
  <img
    [title]="course().title"
    [alt]="course().description"
    matCardImage
    [src]="course().imageName"
  />
  <mat-card-content class="h-full"> </mat-card-content>
  <mat-card-actions align="end">
    <mat-progress-bar
      mode="determinate"
      [value]="50"
      color="primary"
    ></mat-progress-bar>
    <button mat-button>View</button>
    <button mat-button>Enroll</button>
  </mat-card-actions>
</mat-card>
