<div class="mb-10">
  <h5 class="!mb-0 underline">Dashboard</h5>
  <h6>Find your learning journey's roadmaps here.</h6>
</div>
<div>
  <mat-accordion>
    @for (roadmap of roadmaps; track $index){
    <mat-expansion-panel [hideToggle]="false">
      <mat-expansion-panel-header class="!py-4">
        <div>
          <h6>
            {{ roadmap.title }}
          </h6>
          <div>
            {{ roadmap.description }}
          </div>
          <div class="flex w-96 items-center gap-5">
            <small>Progress</small>
            <mat-progress-bar
              mode="determinate"
              [value]="getCourseProgress(roadmap)"
              color="primary"
            ></mat-progress-bar>
            <small> {{ getCourseProgress(roadmap) }}% </small>
          </div>
        </div>
        <!-- <mat-panel-title>
        </mat-panel-title>
        <mat-panel-description>{{ roadmap.description }}</mat-panel-description> -->
      </mat-expansion-panel-header>
      <mat-card appearance="outlined">
        <mat-card-content>
          <title>Related Categories</title>
          <mat-chip-listbox>
            @for (category of roadmap.relatedCategories; track $index) {
            <mat-chip>{{ category }}</mat-chip>
            }
          </mat-chip-listbox>
          <mat-card>
            <mat-card-header>
              <mat-card-title> Roadmap Overview </mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <roadmap-visualizer [roadmapSteps]="roadmap.steps">
              </roadmap-visualizer>
            </mat-card-content>
            <mat-card-actions align="end">
              <button mat-flat-button>
                View in detail
                <mat-icon> arrow_forward </mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </mat-card-content>
      </mat-card>
    </mat-expansion-panel>
    }
  </mat-accordion>
</div>
